.Guides {
  margin-top: 3rem;
  z-index: 100;
  position: relative;
}

.GuidesSearch {
  font-size: 130%;
  padding: 0.8rem;
  width: 500px;
  max-width: 100%;
}

.GuidesContainer {
  margin-top: 5rem;
  margin-right: var(--ifm-spacing-horizontal);
  margin-left: var(--ifm-spacing-horizontal);
}

.GuidesRow {
  margin-top: 3rem;
}

.GuidesGrid {
  display: grid;
  margin-right: calc(var(--ifm-spacing-horizontal) * -1);
  margin-left: calc(var(--ifm-spacing-horizontal) * -1);
  grid-gap: 1.5rem;
  grid-template-columns: repeat(6, 1fr);
}

.GuideBox {
  position: relative;
  padding: var(--ifm-spacing-horizontal);

  border: 1px solid var(--ifm-contents-border-color);
  border-radius: 2px;
  grid-column-end: span 2;
  transition: ease-in-out all 0.15s;
  backface-visibility: hidden;
}

.GuideBoxInner {
  // border: 1px solid black;
}

.hitBox {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
}

.GuidesNoMatch {
  margin-right: calc(2 * var(--ifm-spacing-horizontal) * -1);
  margin-left: calc(2 * var(--ifm-spacing-horizontal) * -1);
  font-size: 120%;
}