.BoxGrid {
  display: grid;
  margin-top: var(--ifm-paragraph-margin-bottom);
  grid-gap: 2rem;
  grid-template-columns: repeat(6, 1fr);
}

.Box {
  position: relative;
  padding: var(--ifm-spacing-horizontal);
  border: 1px solid var(--ifm-contents-border-color);
  border-radius: 2px;
  box-shadow: 0 10px 15px -3px rgba(6, 8, 9, 0.06), 0 4px 6px -2px rgba(6, 8, 9, 0.12);
  grid-column-end: span 2;
  transition: ease-in-out all 0.15s;
  backface-visibility: hidden;

  @media (max-width: 1420px) {
    grid-column-end: span 3;
  }

  @media (max-width: 700px) {
    grid-column-end: span 6;
  }

  &:hover {
    text-decoration: none;
    border-color: var(--ifm-color-primary-lightest);
    transform: scale(1.02);
    transition: ease-in-out all 0.15s;

    h3 {
      color: var(--ifm-color-primary-lightest);
    }

    p {
      color: var(--ifm-font-color-base);
    }

    .BoxCTA {
      border-color: var(--ifm-color-primary-lightest);
    }
  }

  h3 {
    color: var(--ifm-font-color-base);
    transition: ease-in-out all 0.15s;
  }
  
  p {
    margin-bottom: 0;

    color: var(--ifm-font-color-base);
    font-size: 95%;
    font-weight: 400;
  }

  button {
    position: absolute;
    bottom: var(--ifm-spacing-horizontal);
    left: var(--ifm-spacing-horizontal);
  }
}

.BoxCTA {
  position: relative;
  // display: inline-block;
  margin-top: 1rem;
  // font-size: 100%;
  // font-weight: var(--ifm-heading-font-weight);
  --ifm-button-size-multiplier: 1;

  // &:after {
  //   position: absolute;
  //   top: -2px;
  //   right: -12px;
  //   display: block;
  //   font-size: 170%;
  //   font-weight: 500;
  //   line-height: 1;
  //   content: '\2192';
  //   opacity: 0;
  //   transition: 0.15s all ease-in;
  // }
}

.BoxGuideTech {
  margin: 1rem 0 0 0;
  padding: 0;
  list-style-type: none;
  
  li {
    font-family: var(--ifm-font-family-monospace);
    font-size: 80%;
    display: inline-block;
    padding: 0.3rem;
    border-radius: 2px;

    &:first-of-type {
      background: var(--ifm-color-secondary-lightest);
      margin-right: 0.5rem;
    }

    &:nth-of-type(2n) {
      background: var(--ifm-color-accent);
    }
  }
}

.BoxHit {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
}