/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

/**
 * Hero
 */

.GuidesHero {
  position: relative;
  padding: 4rem 0 0;
  // background: linear-gradient(to bottom, white, #f1f2fb);

  .heroText {
    z-index: 100;
    position: relative;

    .heroTagline {
      font-size: 2.4rem;
    }

    .heroSubHead {
      font-size: 110%rem;
      margin-bottom: 0;
    }
  }

  .buttons {
    display: flex;
    align-items: flex-start;
    flex-flow: row wrap;
    margin-top: 2rem;
  }

  .getStarted:first-of-type {
    margin-right: 2rem;
    margin-bottom: var(--ifm-paragraph-margin-bottom);
  }

  .heroImageContainer {
    position: relative;
  }

  .heroImage {
    z-index: 10;
    position: absolute;
    top: calc(-6rem - 68px);
    right: -300px;
    max-width: 1200px;
  }

  @media (max-width: 996px) {
    padding: 4rem 0 2rem;

    .heroText .heroTagline {
      font-size: 2.4rem;
    }

    .heroText .heroSubHead {
      font-size: 1.2rem;
    }

    .heroImage {
      display: none;
    }
  }
}