.Start {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(4,minmax(100px,1fr))
}

.StartBox {
  padding: 1.6rem;
  grid-column-end: span 2;

  background: linear-gradient(90deg, #f9f7f7 60%, #ededf3);
  border: 1px solid var(--ifm-contents-border-color);
  border-radius: 2px;
  color: var(--ifm-font-base-color);
  transition: ease-in-out all 0.15s;

  &:hover {
    border-color: var(--ifm-color-primary-lightest);
    text-decoration: none;
    transform: scale(1.02);
    // transition: ease-in-out all 0.15s;

    h3 {
      color: var(--ifm-color-primary-lightest);
    }

    p {
      color: var(--ifm-font-base-color);
    }
  }

  &:first-of-type {
    grid-column-start: 1;
    grid-column-end: span 2;
    grid-row-start: 1;
    grid-row-end: span 2;

    h3 {
      // color: var(--ifm-color-primary);
      font-size: 2rem;
    }
  }

  h3 {
    font-size: 1.4rem;
  }
  
  p {
    font-weight: 400;
  }
}

html[data-theme='dark'] .StartBox {
  background: linear-gradient(90deg, #35414a 60%, #273142);
}