.Install {
  display: grid;
  margin: var(--ifm-paragraph-margin-bottom) 0;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(4, 1fr);
}

.InstallBox {
  position: relative;
  padding: 1rem;
  border: 1px solid var(--ifm-contents-border-color);
  border-radius: 2px;
  grid-column-end: span 1;
  transition: ease-in-out all 0.15s;
  backface-visibility: hidden;

  @media (max-width: 700px) {
    grid-column-end: span 6;
  }

  &:hover {
    text-decoration: none;
    border-color: var(--ifm-color-primary-lightest);
    transform: scale(1.02);
    transition: ease-in-out all 0.15s;

    h4 {
      color: var(--ifm-color-primary-lightest);
    }

    p {
      color: var(--ifm-font-color-base);
    }
  }

  svg {
    display: block;
    width: 64px;
    height: 64px;
    margin: 0 auto;
  }

  h4 {
    margin: 0.4rem 0 0;
    color: var(--ifm-font-color-base);
    font-size: 0.95rem;
    font-weight: 400;
    text-align: center;
    transition: ease-in-out all 0.15s;
  }
}

html[data-theme='dark'] .StartBox {
  background: linear-gradient(90deg, #13172d, #191927);
}