.Install {
  display: grid;
  margin: var(--ifm-paragraph-margin-bottom) 0;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(4, 1fr);

  .others {
    grid-column-start: 2;
    grid-column-end: span 2;
    font-size: 85%;
    text-align: center;
  }
}

.InstallBox {
  position: relative;
  padding: 1rem;
  background-color: #ECEEEF;
  border-radius: 2px;
  grid-column-end: span 1;
  transition: background-color .2s, color .2s;
  backface-visibility: hidden;

  @media (max-width: 700px) {
    grid-column-end: span 6;
  }

  &:hover {
    text-decoration: none;
    transform: scale(1.02);
    transition: background-color .2s, color .2s;

    h3 {
      color: var(--ifm-background-color);
    }

    p {
      color: var(--ifm-font-color-base);
    }

    &:after {
      opacity: 1;
    }
  }

  h3 {
    margin: 0;
    color: var(--ifm-font-color-base);
    font-size: 110%;
    font-weight: 500;
    text-align: center;
    transition: ease-in-out all 0.15s;
  }

  &:after {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    background: linear-gradient(to right, var(--ifm-color-primary-light), #76d54a);
    opacity: 0;
    transition: opacity .2s;
    z-index: -1;
  }
}

.InstallIcon {
  display: block;
  width: 64px;
  height: 64px;
  margin: 0 auto;
}

.InstallIconDark {
  display: none;
  width: 64px;
  height: 64px;
  margin: 0 auto;
}

html[data-theme='dark'] {
  .InstallIconSwitch {
    .InstallIcon {
      display: none;
    }

    .InstallIconDark {
      display: block;
    }
  }
}