.searchButton {
  position: relative;
  margin-left: 1rem;
  padding: .6rem 2.5rem 0.6rem 0.6rem;
  background: var(--ifm-background-color);
  color: var(--ifm-font-color-base);

  font-size: 90%;
  border: 1px solid var(--ifm-color-primary);
  border-radius: var(--ifm-global-radius);

  &:hover {
    color: var(--ifm-font-color-base);
    cursor: pointer;
  }
}

.searchKey {
  position: absolute;
  top: 6px;
  right: 6px;
  padding: 0.1rem 0.4rem 0.2rem 0.4rem;
  border: 1px solid #cdcde6;
  border-radius: 2px;
}