.searchButton {
  position: relative;
  padding: 0.3rem 0.6rem;
  margin-right: 1rem;
  background: #35414a;
  color: var(--ifm-font-color-base);

  font-size: 90%;
  border: 1px solid var(--ifm-color-primary);
  border-radius: var(--ifm-global-radius);

  svg {
    // width: 18px;
    position: relative;
    top: 1px;
    color: white;
  }

  &:hover {
    color: var(--ifm-font-color-base);
    cursor: pointer;
  }
}

.searchContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(101,108,133,0.8);

  // p {
  //   color: white;
  // }
}

.searchModal {
  overflow-y: auto;
  position: relative;
  min-height: 500px;
  max-height: 80vh;
  max-width: 1000px;
  margin: 107px auto auto;

  background: var(--ifm-background-color);
  border-radius: var(--ifm-global-radius);

  @media (max-width: 996px) {
    max-height: calc(100vh - 107px);
  }
}