/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

/**
 * Hero
 */

.hero {
  position: relative;
  // overflow: hidden;
  padding: 8rem 0 5rem;
  background: linear-gradient(to bottom, white, #f1f2fb);

  span {
    display: block;
    margin-bottom: 1rem;

    font-size: var(--ifm-h5-font-size);
    font-weight: 500;
    text-transform: uppercase;
  }

  .heroText {
    z-index: 100;
    position: relative;

    .heroTagline {
      font-size: 3rem;
    }

    .heroSubHead {
      font-size: 1.3rem;
    }
  }

  .buttons {
    display: flex;
    align-items: flex-start;
    flex-flow: row wrap;
    margin-top: 2rem;
  }

  .getStarted:first-of-type {
    margin-right: 2rem;
    margin-bottom: var(--ifm-paragraph-margin-bottom);
  }

  .heroImageContainer {
    position: relative;
  }

  .heroImage {
    z-index: 10;
    position: absolute;
    top: calc(-6rem - 68px);
    right: -180px;
    max-width: 1200px;
  }

  @media (max-width: 1600px) {
    // .heroImage {
    //   right: -120px;
    // }
  }

  @media (max-width: 1400px) {
    // .heroImage {
    //   bottom: -151px;
    //   right: 0;
    //   max-width: 550px;
    // }
  }

  @media (max-width: 996px) {
    padding: 4rem 0 3rem;

    .heroText .heroTagline {
      font-size: 2.4rem;
    }

    .heroText .heroSubHead {
      font-size: 1.2rem;
    }

    .heroImage {
      display: none;
    }
  }
}

/**
 * CTAs
 */

.CTAs {
  padding: 6rem 0 0;
  margin-bottom: 5rem;

  div[class*="row"] {
    margin-bottom: 3rem;
  }

  div > a {
    margin-top: 0;
    display: block;
    height: 100%;
    box-shadow: 0 10px 15px -3px hsla(198,23%,3%,0.06),0 4px 6px -2px hsla(198,23%,3%,0.12);
  }

  @media (max-width: 996px) {
    div[class*="col"] + div[class*="col"] {
      margin-top: 4rem;
    }
  }
}

/**
 * Changelog
 */

.changelog {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background: #f1f2fb;

  h2 {
    margin-bottom: calc(var(--ifm-paragraph-margin-bottom) * 2);
  }
}

.updateBox {
  &:first-of-type {
    margin-bottom: 1rem;
  }

  header {
    font-family: var(--ifm-font-family-monospace);
    font-weight: 500;
    font-size: 80%;
    margin-bottom: 0.8rem;

    span {
      background: var(--ifm-color-primary);
      color: var(--ifm-background-color);
      padding: 0.1rem 0.2rem;
    }
  }

  p {
    color: var(--ifm-font-color-base);
    font-weight: 400;
  }

  &:hover {
    text-decoration: none;
  }
}

html[data-theme='dark'] {
  .heroImage,
  .stepByStepImg img {
    filter: grayscale(1);
    opacity: 0.3;
  }

  .hero {
    background: linear-gradient(to bottom, #191927, #22272E);
  }

  .changelog {
    background: #22272E;
  }

  .installCheckbox label::before {
    background: #22272E;
    border: 1px solid #585858;
  }

  .docBox h3 {
    color: var(--ifm-color-primary);

    &:hover {
      color: var(--ifm-color-accent);
    }
  }
}