/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

/**
 * Hero
 */

.heroBanner {
  position: relative;
  padding: 8rem 0 6rem;
  background: linear-gradient(to bottom, white 40%, var(--ifm-color-secondary-lightest) 600%);
}

html[data-theme='dark'] .heroBanner {
  background: linear-gradient(to bottom, var(--ifm-background-color) 40%, black 600%);
}

.buttons {
  margin: 3rem 0 0;
}

.getStarted {
  margin-right: 2rem;
}

.heroImageContainer {
  position: relative;
}

.heroImage {
  position: absolute;
  top: 0px;
  right: -93px;
  max-width: 650px;
}

@media (max-width: 1400px) {
  .heroImage {
    top: 30px;
    right: 0;
    max-width: 550px;
  }
}

@media (max-width: 996px) {
  .heroImage {
    display: none;
  }
}

/**
 * Installation
 */

/* .install {
  padding: 10rem 0 6rem;
}

@media (max-width: 996px) {
  .install {
    padding: 3rem 0;
  }
} */

.installContainer {
  padding-top: 8rem;

  background: var(--ifm-color-gray-100);
}

.install h2 {
  font-size: 2rem;
}

.installCheckbox input[type="checkbox"] {
  opacity: 0;
}

.installCheckbox label {
  position: relative;
}

.installCheckbox label::before{
  content: "";
  position: absolute;
  top: 3px;
  left: -20px;
  display: inline-block;
  height: 16px;
  width: 16px;
  
  background: white;
  border: 1px solid var(--ifm-color-gray-300);
  border-radius: 2px;
}

.installCheckbox label::after {
  content: "";
  position: absolute;
  left: -17px;
  top: 7px;
  display: inline-block;
  height: 6px;
  width: 9px;
  border-left: 2px solid var(--ifm-color-primary);
  border-bottom: 2px solid var(--ifm-color-primary);
  transform: rotate(-45deg);
}

.installCheckbox input[type="checkbox"] + label::after {
  content: none;
}

.installCheckbox input[type="checkbox"]:checked + label::after {
  content: "";
}

.installSelection label code {
  font-size: var(--ifm-h6-font-size);
}

.installSelection pre {
  margin-top: var(--ifm-paragraph-margin-bottom);
  margin-bottom: var(--ifm-paragraph-margin-bottom);
}

.installSelection pre code {
  overflow-x: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.installMethods {
  display: grid !important;
  grid-template-columns: repeat(4, [col-start] 1fr);
  grid-gap: 1rem;
}

.installMethods h3 {
  grid-column: span 4;
  text-align: center;
  margin: 0;
}

.installMethod {
  grid-column: span 2;
  border: 1px solid var(--ifm-color-gray-300);
  border-radius: 2px;
  font-size: 0.9rem;
  text-align: center;
  padding: 0.6rem;
}

.installMethod:hover {
  border: 1px solid var(--ifm-color-primary-lightest);
  color: var(--ifm-color-primary-lightest);
}

.installMethod img {
  display: block;
  margin: 0 auto 0rem;
}

.installMethods p {
  grid-column: span 4;
  font-size: var(--ifm-h5-font-size);
  text-align: center;
}

/* Step-by-step */

.stepByStep {
  padding: 8rem 0;
}

.stepByStepBox {
  border-radius: var(--ifm-global-radius);
  padding-top: calc(1.5 * var(--ifm-spacing-vertical));
  padding-bottom: calc(1.5 * var(--ifm-spacing-vertical));
}

@media (max-width: 1200px) {
  .stepByStepBox.col--8 {
    flex: 0 0 100% !important;
    margin-left: 0 !important;
  }
}

.stepByStep h2 {
  margin-bottom: 3rem;
  font-size: 2rem;
  text-align: center;
}

@media (max-width: 996px) {
  .stepByStep img {
    display: none;
  }
}

.stepByStepLink {
  display: block;
  margin-bottom: 0.4rem;

  font-size: 0.9rem;
}

.stepByStepIcon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  width: 24px;
  padding: 4px;
  margin-right: 1rem;

  background: white;
  border: 1px solid #35414A;
  border-radius: 2px;
}

.stepByStepIcon svg {
  display: 18px;
  width: 143px;
  height: 14px;
  
  color: #35414A;
}