/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 8rem 0 6rem;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 4rem 0 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 80%;
  margin: 3rem auto 0;
}

@media screen and (max-width: 966px) {
  .buttons {
    width: 100%;
  }
}

.contents {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureImage {
  height: 200px;
  width: 200px;
}