/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

/**
 * Hero
 */

.hero {
  position: relative;
  overflow: hidden;
  padding: 8rem 0 6rem;
  background: linear-gradient(to bottom, white, #ededf3);

  .heroText {
    z-index: 100;
    position: relative;

    .heroTagline {
      font-size: 3rem;
    }

    .heroSubHead {
      font-size: 1.3rem;
    }
  }

  @media (max-width: 996px) {
    padding: 4rem 0 3rem;

    .heroText .heroTagline {
      font-size: 2.4rem;
    }

    .heroText .heroSubHead {
      font-size: 1.2rem;
    }
  }
}

.cta {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
  margin-top: 3rem;

  .ctaBox {
    position: relative;
    grid-column-end: span 2;
    padding: var(--ifm-spacing-horizontal);

    background: white;
    border: 1px solid var(--ifm-contents-border-color);
    border-radius: 2px;
    transition: ease-in-out all 0.15s;
    backface-visibility: hidden;

    &:hover {
      border-color: var(--ifm-color-primary-lightest);
      text-decoration: none;
      transform: scale(1.02);
      transition: ease-in-out all 0.15s;

      h3 {
        color: var(--ifm-color-primary-lightest);
      }

      p {
        color: var(--ifm-font-color-base);
      }
    }

    h3 {
      color: var(--ifm-font-color-base);
      font-size: 1.4rem;
      transition: ease-in-out all 0.15s;
    }
    
    p {
      color: var(--ifm-font-color-base);
      font-weight: 400;
    }

    a + a {
      margin-left: 1rem;
    }

    &:first-child {
      background: linear-gradient(90deg, #f4f4f4, white);

      @media (max-width: 996px) {
        grid-column-end: span 8;
      }

      @media (max-width: 700px) {
        grid-column-end: span 8;
      }
    }

    @media (max-width: 996px) {
      grid-column-end: span 4;
    }

    @media (max-width: 700px) {
      grid-column-end: span 8;
    }
  }
}

/**
 * Step-by-step guide
 */

.stepByStep {
  position: relative;
  overflow: hidden;
  padding: 4rem 0;
}

.stepByStep h2 {
  margin-bottom: 3rem;
  font-size: 2rem;
  text-align: center;
}

.stepByStepImg {
  position: relative;
  overflow: hidden;

  border-radius: 2px;
  
  img {
    position: absolute;
    min-width: 600px;
    height: 370px;
    
    border-radius: 2px;
  }
}

.stepByStepLink {
  display: block;
  margin-bottom: 0.4rem;

  font-size: 0.9rem;
}

.stepByStepIcon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  width: 24px;
  padding: 4px;
  margin-right: 1rem;

  background: var(--ifm-background-color);
  border: 1px solid #35414A;
  border-radius: 2px;
}

.stepByStepIcon svg {
  display: 18px;
  width: 143px;
  height: 14px;
  
  color: var(--ifm-font-color-base);
}

@media (max-width: 996px) {
  .stepByStep {
    padding: 3rem 0;
  }

  .stepByStep h2 {
    margin-bottom: var(--ifm-paragraph-margin-bottom);
  }

  .stepByStep img {
    display: none;
  }

  .stepByStepLinks {
    margin-bottom: var(--ifm-paragraph-margin-bottom);
  }
}

/**
 * Doc boxes
 */

.docs {
  padding: 4rem 0;
}

.docBox {
  padding: var(--ifm-spacing-horizontal);
}

.docBox:hover {
  text-decoration: none;
}

.docBox h3 {
  color: var(--ifm-color-primary);
}

.docBox p {
  margin: 0;

  color: var(--ifm-font-color-base);
  font-weight: 400;
}

.docBox:hover h3 {
  color: var(--ifm-color-secondary);
}

@media (max-width: 996px) {
  .docs {
    padding: 0 0 3rem;
  }

  .docBox {
    padding: var(--ifm-spacing-vertical);
  }
}

html[data-theme='dark'] {
  .heroImage,
  .stepByStepImg img {
    filter: grayscale(1);
    opacity: 0.3;
  }

  .hero {
    background: #191927;
  }

  .installContainer {
    background: #22272E;
  }

  .installCheckbox label::before {
    background: #22272E;
    border: 1px solid #585858;
  }

  .docBox h3 {
    color: var(--ifm-color-primary);

    &:hover {
      color: var(--ifm-color-accent);
    }
  }
}