/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

/**
 * Hero
 */

.hero {
  position: relative;
  overflow: hidden;
  padding: 8rem 0 6rem;
  background: linear-gradient(to bottom, white, #ededf3);

  .heroText {
    z-index: 100;
    position: relative;

    .heroTagline {
      font-size: 3rem;
    }

    .heroSubHead {
      font-size: 1.3rem;
    }
  }

  @media (max-width: 996px) {
    padding: 4rem 0 3rem;

    .heroText .heroTagline {
      font-size: 2.4rem;
    }

    .heroText .heroSubHead {
      font-size: 1.2rem;
    }
  }
}

.cta {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
  margin-top: 3rem;

  .ctaBox {
    position: relative;
    grid-column-end: span 2;
    padding: var(--ifm-spacing-horizontal);

    background: white;
    border: 1px solid var(--ifm-contents-border-color);
    border-radius: 2px;
    transition: ease-in-out all 0.15s;
    backface-visibility: hidden;

    &:hover {
      border-color: var(--ifm-color-primary-lightest);
      text-decoration: none;
      transform: scale(1.02);
      transition: ease-in-out all 0.15s;

      h3 {
        color: var(--ifm-color-primary-lightest);
      }

      p {
        color: var(--ifm-font-color-base);
      }
    }

    h3 {
      color: var(--ifm-font-color-base);
      font-size: 1.4rem;
      transition: ease-in-out all 0.15s;
    }
    
    p {
      color: var(--ifm-font-color-base);
      font-weight: 400;
    }

    a + a {
      margin-left: 1rem;
    }

    &:first-child {
      background: linear-gradient(90deg, #f4f4f4, white);

      @media (max-width: 996px) {
        grid-column-end: span 8;
      }

      @media (max-width: 700px) {
        grid-column-end: span 8;
      }
    }

    @media (max-width: 996px) {
      grid-column-end: span 4;
    }

    @media (max-width: 700px) {
      grid-column-end: span 8;
    }
  }
}

.changelog {
  margin-top: 4rem;
  padding-bottom: 4rem;

  h2 {
    margin-bottom: calc(var(--ifm-paragraph-margin-bottom) * 2);
  }
}

.updateBox {
  header {
    font-family: var(--ifm-font-family-monospace);
    font-weight: 500;
    font-size: 80%;
    margin-bottom: 0.8rem;

    span {
      background: var(--ifm-color-primary);
      color: var(--ifm-background-color);
      padding: 0.1rem 0.2rem;
    }
  }

  p {
    color: var(--ifm-font-color-base);
    font-weight: 400;
  }

  &:hover {
    text-decoration: none;
  }
}

html[data-theme='dark'] {
  .hero,
  .ctaBox,
  .ctaBox:first-of-type {
    background: #191927;
  }
}