.guidesHeader {
  padding-top: 3rem;
  
  text-align: center;

  h1 {
    font-size: 3rem;
    margin-bottom: calc(var(--ifm-leading-desktop) * var(--ifm-leading));
  }

  p {
    font-size: 120%;
  }
}

.headerImg {
  height: 200px;
}

.headerImgMobile {
  margin-bottom: 20px;
  max-width: 200px;
  display: none;
}

@media only screen and (max-width: 996px) {
  .cookbookListHeader {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .headerImg {
    display: none;
  }

  .headerImgMobile {
    display: inline;
  }
}

.cookbookItemsContainer {
  --ifm-container-width: 800px;
}

.guidesSearch {
  // font-size: 20px;
  border-radius: var(--ifm-global-radius);
  border: none;
  padding: 0.4rem;
  color: var(--ifm-primary-color);
  background-color: var(--ifm-background-color);

  border: 1px solid black;
}