.guideHeader {
  margin-bottom: 3rem;
  padding-top: 6rem;
  
  text-align: center;

  h1 {
    margin-bottom: calc(var(--ifm-leading-desktop) * var(--ifm-leading));
    font-size: 3rem;
  }

  p {
    font-size: 120%;
  }
}

.guideSearch {
  padding: 0.4rem;

  background-color: var(--ifm-background-color);
  color: var(--ifm-primary-color);
  border: 1px solid black;
  border: none;
  border-radius: var(--ifm-global-radius);
}

.guideSection {
  margin-bottom: calc(var(--ifm-paragraph-margin-bottom) * 3);
  padding-bottom: calc(var(--ifm-paragraph-margin-bottom) * 3);

  border-bottom: 1px solid var(--ifm-contents-border-color);

  &:last-of-type {
    border-bottom: 0px;
  }

  h2 {
    font-size: 2rem;
  }
}

.guideBoxes {
  display: grid;
  margin-top: 2rem;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(6, 1fr);
}

.guideBox {
  position: relative;
  min-height: 150px;
  padding: var(--ifm-spacing-horizontal);

  border: 1px solid var(--ifm-contents-border-color);
  border-radius: 2px;
  grid-column-end: span 2;
  transition: ease-in-out all 0.15s;
  backface-visibility: hidden;

  &:hover {
    text-decoration: none;
    border-color: var(--ifm-color-primary-lightest);
    transform: scale(1.02);
    transition: ease-in-out all 0.15s;

    h3 {
      color: var(--ifm-color-primary-lightest);
    }

    p {
      color: var(--ifm-font-color-base);
    }
  }

  h3 {
    color: var(--ifm-font-color-base);
    font-size: 1.4rem;
    transition: ease-in-out all 0.15s;
  }
  
  p {
    margin-bottom: 0;

    color: var(--ifm-font-color-base);
    font-size: 1.1rem;
    font-weight: 400;
  }

  button {
    position: absolute;
    bottom: var(--ifm-spacing-horizontal);
    left: var(--ifm-spacing-horizontal);
  }
}

.guideBoxesTight {
  grid-template-columns: repeat(8, 1fr);
}

/**
 * Step-by-step guide
 */

.stepByStep {
  align-items: center;
  margin-bottom: calc(var(--ifm-paragraph-margin-bottom) * 3);
  padding-bottom: calc(var(--ifm-paragraph-margin-bottom) * 3);
  border-bottom: 1px solid var(--ifm-contents-border-color);
}

.stepByStep h2 {
  margin-bottom: 3rem;
  font-size: 2rem;
  text-align: center;
}

.stepByStepImg {
  position: relative;
  overflow: hidden;

  border-radius: 2px;
  
  img {
    position: absolute;
    height: 370px;
    min-width: 600px;
    border-radius: 2px;
  }
}

.stepByStepLink {
  display: block;
  margin-bottom: 0.4rem;

  h3 {
    padding-left: 2.4rem;
    font-size: 1.1rem;
  }
}

.stepByStepIcon {
  position: absolute;
  display: inline-flex;
  align-items: center;
  width: 24px;
  height: 24px;
  margin-right: 1rem;
  padding: 4px;
  background: var(--ifm-background-color);
  border: 1px solid #35414A;
  border-radius: 2px;
  justify-content: center;
}

.stepByStepIcon svg {
  display: 18px;
  width: 143px;
  height: 14px;
  
  color: var(--ifm-font-color-base);
}

@media (max-width: 996px) {
  .stepByStep {
    padding: 3rem 0;
  }

  .stepByStep h2 {
    margin-bottom: var(--ifm-paragraph-margin-bottom);
  }

  .stepByStep img {
    display: none;
  }

  .stepByStepLinks {
    margin-bottom: var(--ifm-paragraph-margin-bottom);
  }
}