/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  /* text-align: center; */
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
}

.calcForm label code {
  font-size: 0.7rem;
}

.calcForm input {
  display: block;
  margin-bottom: 1rem;
}

.results {
  margin: 3rem 0;
}