.Install {
  display: grid;
  margin: var(--ifm-paragraph-margin-bottom) 0;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr;
}

.InstallBox {
  position: relative;
  padding: 1rem;
  border: 1px solid var(--ifm-contents-border-color);
  border-radius: 5px;
  grid-column-end: span 1;
  transition: ease-in-out all 0.15s;
  backface-visibility: hidden;
  align-content: center;
  justify-content: center;
  display: flex;
  flex-flow: column;
  min-height: 125px;

  @media (max-width: 700px) {
    grid-column-end: span 6;
  }

  &:hover {
    text-decoration: none;
    transform: scale(1.02);
    transition: ease-in-out all 0.15s;

    h3 {
      color: var(--ifm-font-color-base);
    }

    p {
      color: var(--ifm-font-color-base);
    }

    &:after {
      opacity: 100;
    }

    .InstallIcon {
      background: #191927;
    }
  }

  h3 {
    display: block;
    margin: 0;
    color: var(--ifm-font-color-base);
    font-size: 1.1rem;
    font-weight: 500;
    transition: ease-in-out all 0.15s;
  }

  span {
    position: absolute;
    font-size: 75%;
    color: var(--ifm-color-emphasis-600);
    bottom: 8px;
    left: 0.8rem;
  }

  &:after {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    background: linear-gradient(45deg, #00CB51,#75D54A);
    opacity: 0;
    transition: opacity .2s;
    z-index: -1;
  }
}

.InstallIcon {
  position: relative;
  background: var(--ifm-color-secondary);
  width: 32px;
  height: 32px;
  border-radius: 100%;
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.6rem;
}