/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* Border box */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* ibm-plex-sans-regular - latin */
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Sans'), local('IBMPlexSans'),
       url('/fonts/ibm-plex-sans-v7-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/fonts/ibm-plex-sans-v7-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* ibm-plex-sans-500 - latin */
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('IBM Plex Sans Medium'), local('IBMPlexSans-Medium'),
       url('/fonts/ibm-plex-sans-v7-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/fonts/ibm-plex-sans-v7-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/**
 * Infima variable overrides
 */

/* Root */
:root {

  /* Colors */
  --ifm-background-color: #fdfdfd;

  --ifm-color-primary: #00AB44;
  --ifm-color-primary-dark: #009a3d;
  --ifm-color-primary-darker: #00913a;
  --ifm-color-primary-darkest: #007830;
  --ifm-color-primary-light: #00bc4b;
  --ifm-color-primary-lighter: #00c54e;
  --ifm-color-primary-lightest: #00CB51;

  --ifm-color-secondary: #0E9AFF;
  --ifm-color-secondary-dark: #2b609b;
  --ifm-color-secondary-darker: #295b92;
  --ifm-color-secondary-darkest: #224b78;
  --ifm-color-secondary-light: #3576bd;
  --ifm-color-secondary-lighter: #377bc6;
  --ifm-color-secondary-lightest: #508cce;

  --ifm-color-accent: #FFC300;

  /* Grid/spacing */
  --ifm-container-width: 1344px;
  --ifm-spacing-horizontal: 2rem;

  /* Base fonts */
  font-family: 'IBM Plex Sans', system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --ifm-font-size-base: 16px;
  --ifm-line-height-base: 1.6;
  --ifm-font-color-base: #1d1d40;
  --ifm-font-family-base: 'IBM Plex Sans', system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --ifm-font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
  --ifm-font-weight-bold: 500;
  --ifm-heading-line-height: 1.2;
  --ifm-blockquote-font-size: 18px;

  /* Headings */
  --ifm-heading-font-weight: 500;

  /* Code */
  --ifm-code-font-size: 95%;
  --ifm-pre-padding: 1.5rem;
  --ifm-code-background: rgb(235, 238, 241);

  /* Buttons */
  --ifm-button-background-color: var(--ifm-background-color);
  --ifm-button-border-width: 1px;
  --ifm-button-border-radius: 2px;
  --ifm-button-font-weight: 500;
  --ifm-button-size-multiplier: 1.4;

  /* Tabs */
  --ifm-tabs-padding-vertical: 0.5rem;
  /* --ifm-tabs-color-active: var(--ifm-color-primary-lightest); */

  /* Etc */
  --ifm-global-radius: 2px;
  --ifm-contents-border-color: var(--ifm-color-emphasis-300);

  /* Navbar */
  --ifm-z-index-fixed: 100;
  --ifm-navbar-padding-vertical: 0;
  --ifm-navbar-padding-horizontal: 2rem;
  --ifm-navbar-link-color: white;
  --ifm-navbar-link-hover-color: var(--ifm-color-primary-lightest);
  --ifm-navbar-height: 107px;
  --ifm-navbar-item-padding-vertical: 0px;
  --ifm-navbar-item-padding-horizontal: 11px;
  --ifm-dropdown-background-color:#35414a;
  --collapse-button-bg-color-dark: #35414a;

  /* Search */
  --ifm-navbar-search-input-color: var(--ifm-font-color-base);
  --ifm-navbar-search-input-placeholder-color: var(--ifm-font-color-base);

  /* Sidebar */
  --ifm-menu-link-padding-vertical: 0.275rem;
  --ifm-menu-color-background-active: var(--ifm-menu-color-background-hover);
  
  /* Table of contents */
  --ifm-contents-link-color: var(--ifm-font-color-base);

  /* Footer */
  --ifm-footer-background-color: #35414a;
  --ifm-footer-title-color: white;
  --ifm-footer-color: white;
  --ifm-footer-link-color: white;
  --ifm-footer-link-hover-color: var(--ifm-color-accent);
}

/* 
 * Dark theme 
 */

html[data-theme='dark'] {

  /* Colors */
  --ifm-background-color: #191927;
  --ifm-navbar-background-color: #191927;
  --ifm-contents-border-color: var(--ifm-color-gray-600);

  --ifm-menu-color-active: var(--ifm-color-primary-lightest);

  /* Navbar */
  --ifm-navbar-link-hover-color: var(--ifm-color-primary-lightest);

  /* Base fonts */
  --ifm-font-color-base: #f5f6f7;
  --ifm-blockquote-color: var(--ifm-color-gray-600);

}

/**
 * Structure
 */

.main-wrapper {
  z-index: 1;
}

.row--center {
  align-items: center;
}

.padding-vert--lg {
  padding-top: 3rem !important;
}

// @media (max-width: 1320px) and (min-width: 997px) {
//   main[class^='docMainContainer'] > .container {
//     margin-left: 0;
//     max-width: 724px;
//   }
// }

/**
 * Navbar 
 */

.navbar,
.navbar .navbar-sidebar {
  background-color: #35414a;
}

.navbar > .container {
  flex-flow: row wrap;
}

.react-toggle {
  margin-right: 1rem;
}

.navbar__inner {
  margin: 0 auto;
}

.navbar .navbar__brand {
  position: relative;
  flex-shrink: 0;
  margin-right: 2rem;

  @media (max-width: 1220px) {
    margin-right: 1rem;
  }

  @media (max-width: 500px) {
    margin-right: 0;
  }
}

.navbar .navbar__logo {
  position: relative;
  top: -4px;
  left: 3px;
  height: 25.5px;

  color: white;

  @media (max-width: 996px) {
    top: 0px;
  }
}

.navbar__link {
  font-size: 1.2rem;
  font-weight: 500;

  @media (max-width: 1220px) {
    padding: var(--ifm-navbar-item-padding-vertical) calc(var(--ifm-navbar-item-padding-horizontal) * 0.5);
  }
}

.navbar__item.dropdown {
  padding: 10px 32px 20px 0;

  &:hover {
    cursor: pointer;
  }

  &:last-of-type {
    padding: 10px 0 20px 0;

    .dropdown__menu {
      transform: translateX(-50%);
    }
  }

  @media (max-width: 1050px) {
    padding: 10px 22px 20px 0;
  }

  .navbar__item {
    font-weight: 500;
    font-size: 0.875rem;
    padding: 0;
  }

  > .navbar__link::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23ffffff' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M6 9l6 6 6-6'/%3E%3C/svg%3E");
    background-size: 14px;
    border-width: 0;
    // display: block;
    width: 14px;
    height: 14px;
  }
}

.dropdown__menu {
  left: 0;
  padding: 2rem;
  min-width: 240px;
  border-top: 3px solid var(--ifm-color-primary);
  border-radius: 0;
  transition-property: opacity, visibility;
  transform: scale(1);
}

.dropdown__link {
  color: white;
  font-size: 0.925rem;

  &:hover {
    color: var(--ifm-color-primary-lightest) !important;
    background: transparent;
  }

  .dropdown__link--active {
    color: var(--ifm-color-primary-lightest) !important;
    background: transparent;

    &:hover {
      background: transparent;
    }
  }
}

.navbar__toggle {
  margin-right: 1rem;

  svg {
    color: white;
    fill: white;
    stroke: white;
  }
}

/* 
 * Search
 */

#__docusaurus {
  z-index: 1;
}

.searchZ {
  z-index: 300 !important;
}

body.search-open {
  overflow: hidden !important;
}

// Fonts
.sui-sorting,
.sui-result,
.sui-paging-info,
.sui-results-per-page {
  font-family: var(--ifm-font-family-base);
}

// Submit button
.sui-search-box {
  position: relative;
}

.sui-search-box__text-input {
  width: 100%;
  padding: 1.4rem;

  font-size: 120%;
  border: 1px solid var(--ifm-color-primary);
  border-radius: var(--ifm-global-radius);

  &:focus {
    border: 1px solid var(--ifm-font-color-base);
    outline: none;
  }

  @media (max-width: 500px) {
    font-size: 95%;
  }
}

.sui-search-box__submit {
  position: absolute;
  right: 1px;
  top: 1px;
  height: 67px;
  font-size: 110%;
  background: var(--ifm-color-primary);
  color: white;
  border-radius: 2px;

  &:hover {
    background: var(--ifm-color-primary-dark);
    border-color: var(--ifm-color-primary-lightest);
    box-shadow: none;
  }

  &:focus {
    outline: none;
  }

  @media (max-width: 500px) {
    height: 63px;
    font-size: 90%;
  }
}

.st-default-search-input {
  margin-left: 1rem !important;
  border-radius: var(--ifm-global-radius) !important;

  @media (min-width: 997px) and (max-width: 1100px) {
    width: 100px !important;
  }
}

// Paging
.sui-layout-main-header__inner {
  margin-bottom: 1rem;
}

// Results
.sui-layout-body {
  overflow-y: auto;

  &:after {
    height: 0px;
  }
}

.sui-result__title {
  font-size: 130%;
  line-height: 1.3;
  margin-bottom: 0.6rem;
}

.sui-result__title-link {
  color: var(--ifm-color-primary) !important;

  &:hover {
    color: var(--ifm-color-accent);
  }
}

.sui-result em {
  color: var(--ifm-color-secondary);
}

.sui-result__body {
  padding: 0 1.5rem;

  p {
    font-size: 90%;
  }
}

// Responsiveness
@media (max-width: 500px) {
  .navbar .navbar__search {
    padding-left: 0;
  }

  .search-icon {
    padding: 4px 16px !important;
    
    background: white;
    border-radius: 2px;
  }
}

// Dark mode
html[data-theme='dark'] {
  .sui-search-box__text-input,
  .sui-layout-body,
  .sui-select__menu,
  .sui-select__control,
  .sui-select__single-value,
  .sui-paging-info,
  .sui-results-per-page,
  .sui-result {
    background: var(--ifm-background-color);
    color: var(--ifm-font-color-base);
  }

  .sui-result__title-link,
  .sui-select__option--is-selected,
  .sui-select__option:hover {
    background: var(--ifm-background-color);
    color: var(--ifm-color-primary-light) !important;
  }
}

/* 
 * Sidebar
 */

@media (min-width: 997px) {
  .menu {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

.menu > .menu__list > .menu__list-item:not(:first-child) {
  padding-top: 2rem;
}

.menu .menu__link {
  color: var(--ifm-font-color-base);
  font-size: 0.95rem;
  font-weight: var(--ifm-font-weight-normal);

  &:focus {
    outline: 0;
  }
}

svg[class^='collapseSidebarButtonIcon'] {
  margin-top: 0;
}

html[data-theme='dark'] {
  .menu__link {
    color: var(--ifm-font-color-base);
  }

  .menu__link--active {
    color: var(--ifm-menu-color-active);
  }
}

html[data-theme='dark'] .menu .menu__link.menu__link--active:not(.menu__link--sublist) {
  background: #191927;
}

@media (max-width: 996px) {
  .navbar-sidebar__items .menu .menu__link {
    color: white;
  }

  .menu > .menu__list > .menu__list-item:not(:first-child) {
    padding-top: 0;
  }

  .menu .menu__link:hover {
    color: var(--ifm-color-primary-lightest) !important;
  }
}

/**
 * Table of contents
 */

.table-of-contents__link code {
  padding: 0rem 0.2rem;
}

.toc__edit {
  font-size: 100%;
  margin-top: 1rem;
  display: block;

  @media (max-width: 1320px) {
    font-size: 90%;
    padding: calc(var(--ifm-button-padding-vertical) * var(--ifm-button-size-multiplier)) 0;

    svg {
      display: none;
    }
  }
}

/**
 * Footer 
 */

.footer {
  padding-top: 4rem;
}

.footer.footer--dark {
  --ifm-footer-title-color: var(--ifm-font-color-base);
  color: white;
}

.footer .footer__title {
  color: white;
}

.footer .footer__links {
  margin-bottom: 3rem;
  color: white;
}

.footer .footer__link-item {
  color: white;
  font-weight: 400;
}

/**
 * Links
*/

a {
  font-weight: var(--ifm-font-weight-semibold);
  transition: ease-in-out all 0.15s;
}

a:hover:not(.button):not(.navbar__link) {
  color: var(--ifm-color-secondary);
}

html[data-theme='dark'] .markdown a:not(.button) {
  color: var(--ifm-color-primary-lightest);
}

html[data-theme='dark'] a:hover {
  color: var(--ifm-color-accent);
}

/**
 * Pagination
 */

.pagination-nav {
  margin-top: 6rem;
}

/* Buttons */

.button {
  border: 2px solid var(--ifm-color-primary);
  font-family: var(--ifm-font-family-base);
  font-weight: 500;
  
  &:active {
    background: var(--ifm-color-primary-lightest);
  }
}

.button.button--primary {
  &:hover {
    border-color: var(--ifm-color-primary-lightest);
  }
}

.button.button--secondary {
  background: var(--ifm-background-color);
  color: var(--ifm-color-primary);

  &:hover {
    background: var(--ifm-color-primary-lightest);
    border-color: var(--ifm-color-primary-lightest);
    color: white;
  }
}

.button.button--outline {
  background: transparent;
  // color: white !important;

  &:hover {
    background: var(--ifm-color-primary-lightest);
    border-color: var(--ifm-color-primary-lightest);
    color: white;
  }
}

html[data-theme='dark'] .button {
  color: white;
}

html[data-theme='dark'] .button:hover {
  color: white;
}

html[data-theme='dark'] .button.button--secondary {
  color: white;
  background: var(--ifm-color-gray-800);
}

html[data-theme='dark'] .button.button--secondary:hover {
  color: var(--ifm-color-primary-lightest);
}

/**
 * Code highlighting
 */

pre.prism-code {
  padding: 0;

  border-radius: var(--ifm-global-radius);
}

button[class*='copyButton'] {
  z-index: 1000;

  color: var(--ifm-color-primary-lightest);
  font-size: 0.8rem;

  border: 1px solid var(--ifm-color-primary-lightest);
}

button[class*='copyButton']:hover {
  color: white;
  border: 1px solid white;
}

div[class*='mdxCodeBlock']:hover button[class*='copyButton'],
pre[class*='codeBlock']:hover button[class*='copyButton'],
pre[class*='codeBlockContent']:hover button[class*='copyButton'] {
  opacity: 1;
  visibility: visible;
}

pre.prism-code code {
  padding: var(--ifm-pre-padding);
}

html[data-theme='dark'] code {
  background: rgb(42, 39, 52);
}

.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

/**
 * Markdown-only 
*/

.markdown {
  font-size: 17px;
  --ifm-heading-vertical-rhythm-bottom: 1;

  strong {
    font-weight: 500;
  }

  h2 code, h3 code, h4 code, h5 code {
    font-size: 75%;
  }

  p code,
  li code {
    font-size: 80%;
  }

  img {
    display: block;
    margin: calc(var(--ifm-paragraph-margin-bottom) * 1.5) auto;

    border-radius: var(--ifm-global-radius);
    box-shadow: var(--ifm-global-shadow-md);

    &[src*='https://codeclimate.com/github/netdata/netdata'],
    &[src*='https://api.codacy.com/'],
    &[src*='https://lgtm.com/projects/'],
    &[src*='https://travis-ci.com/netdata/netdata'],
    &[src*='https://registry.my-netdata.io/'], 
    &[src*='https://img.shields.io'], 
    &[src*='https://raw.githubusercontent.com/netdata/netdata/master/web/gui/images/'],
    &[src*='/netdata/netdata-ui/master/src/components/icon/assets/'] {
      display: inline-block;
      margin: 0;
    }

    &.img__inline,
    &.img-inline,
    &.image-inline {
      position: relative;
      top: 4px;
      display: inline-block;
      margin: 0;
      box-shadow: none;
    }

    &.img__inline--link {
      max-height: 16px;
      top: 2px;
    }
  }

  video {
    display: block;
    max-width: 100%;
    margin: calc(var(--ifm-paragraph-margin-bottom) * 1.5) auto;
    border-radius: var(--ifm-global-radius);
    box-shadow: var(--ifm-global-shadow-md);
  }

  details {
    border: 1px solid var(--ifm-contents-border-color);
    border-radius: 2px;
    margin-bottom: var(--ifm-paragraph-margin-bottom);
    padding: 1rem;

    summary {
      font-weight: 500;
      color: var(--ifm-color-primary);

      &:hover {
        cursor: pointer;
        color: var(--ifm-color-secondary);
        text-decoration: underline;
      }

      &:focus {
        outline: none;
      }
    }

    iframe {
      max-width: 100%;
    }

    &[open] {
      summary {
        margin-bottom: 0.8rem;
      }
    }
  }

  // Mobile styles for Markdown content
  @media (max-width: 475px) {
    h1 { font-size: 2rem; }
    h2 { font-size: 1.5rem; }
    h3 { font-size: 1.4rem; }
    h4 { font-size: 1.2rem; }
    p { font-size: 16px; }
  }
}

.markdown__edit {
  margin-top: 2rem;
  display: none;

  @media (max-width: 996px) {
    display: inline-block;
  }
}
