/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* Border box */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/**
 * Infima variable overrides
 */

/* Root */
:root {

  /* Colors */
  --ifm-color-primary: #00AB44;
  --ifm-color-primary-dark: #009a3d;
  --ifm-color-primary-darker: #00913a;
  --ifm-color-primary-darkest: #007830;
  --ifm-color-primary-light: #00bc4b;
  --ifm-color-primary-lighter: #00c54e;
  --ifm-color-primary-lightest: #00de58;

  --ifm-color-secondary: #306BAC;
  --ifm-color-secondary-dark: #2b609b;
  --ifm-color-secondary-darker: #295b92;
  --ifm-color-secondary-darkest: #224b78;
  --ifm-color-secondary-light: #3576bd;
  --ifm-color-secondary-lighter: #377bc6;
  --ifm-color-secondary-lightest: #508cce;

  --ifm-color-accent: #FFC300;

  /* Grid/spacing */
  --ifm-container-width: 1200px;
  --ifm-spacing-horizontal: 2rem;

  /* Base fonts */
  --ifm-font-size-base: 16px;
  --ifm-line-height-base: 1.6;
  --ifm-font-color-base: #1d1d40;
  --ifm-font-family-base: 'IBM Plex Sans', system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --ifm-font-family-monospace: 'IBM Plex Mono', SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
  --ifm-font-weight-bold: 500;
  --ifm-heading-line-height: 1.2;
  --ifm-blockquote-font-size: 18px;

  /* Headings */
  --ifm-heading-font-weight: 500;

  /* Code */
  --ifm-code-font-size: 85%;
  --ifm-pre-padding: 1.4rem;
  --ifm-code-background: rgb(235, 238, 241);

  /* Buttons */
  --ifm-button-background-color: var(--ifm-color-primary);
  --ifm-button-border-radius: 2px;
  --ifm-button-font-weight: 500;
  --ifm-button-size-multiplier: 2;

  /* Etc */
  --ifm-global-radius: 2px;

  /* Navbar */
  --ifm-navbar-padding-horizontal: 2rem;
  --ifm-navbar-link-color: white;
  --ifm-navbar-link-hover-color: var(--ifm-color-primary-lightest);
  --ifm-navbar-height: 68px;

  /* Search */
  --ifm-navbar-search-input-color: var(--ifm-font-color-base);
  --ifm-navbar-search-input-placeholder-color: var(--ifm-font-color-base);

  /* Sidebar */
  --ifm-menu-color-background-active: white;

  /* Table of contents */
  --ifm-contents-link-color: var(--ifm-font-color-base);

  /* Footer */
  --ifm-footer-background-color: var(--ifm-background-color);
  --ifm-footer-color: var(--ifm-color-accent);
  --ifm-footer-link-color: var(--ifm-color-accent);
  --ifm-footer-link-hover-color: var(--ifm-color-accent);

}

/* 
 * Dark theme 
 */

html[data-theme='dark'] {

  /* Colors */
  --ifm-background-color: #191927;
  --ifm-navbar-background-color: #191927;
  --ifm-contents-border-color: var(--ifm-color-gray-600);

  --ifm-menu-color-active: var(--ifm-color-primary-lightest);

  /* Navbar */
  --ifm-navbar-link-hover-color: var(--ifm-color-primary-lightest);

  /* Base fonts */
  --ifm-font-color-base: #f5f6f7;
  --ifm-blockquote-color: var(--ifm-color-gray-600);

}

/**
 * Structure
 */

.padding-vert--lg {
  padding-top: 3rem !important;
}

main[class^='docMainContainer'] .container {
  margin-left: 6rem;
}

@media (max-width: 1655px) {
  main[class^='docMainContainer'] .container {
    margin-left: auto
  }
}

/**
 * Navbar 
 */

.navbar,
.navbar .navbar-sidebar {
  background-color: #35414a;
}

@media (max-width: 996px) {
  .navbar .navbar__inner {
    flex-wrap: nowrap;
  }
}

.navbar .navbar__brand {
  position: relative;
  flex-shrink: 0;

  margin-right: 2rem;
  /* TODO: Explore how you can restore this and have the `Agent`/`Cloud` buttons aligned with the docs text. */
  /* margin-right: 16rem; */
}

@media (max-width: 500px) {
  .navbar .navbar__brand {
    margin-right: 0;
  }
}

.navbar__brand strong {
  display: block !important;
  position: absolute;
  top: 22px;
  left: 31px;

  color: var(--ifm-color-primary-lightest);
  font-size: 0.75rem;
  font-weight: 500;
  text-transform: uppercase;
}

@media (max-width: 360px) {
  .hideLogoText {
    display: block !important;
  }
}

.navbar .navbar__logo {
  position: relative;
  top: -1px;
  height: 24px;

  color: white;
}

.navbar__toggle svg {
  color: white;
  fill: white;
  stroke: white;
}

.navbar .navbar__link {
  font-size: 1rem;
  font-weight: var(--ifm-font-weight-normal);
}

.navbar .navbar__link.navbar__link--active {
  border-bottom: 2px solid var(--ifm-color-primary);
}

.navbar .navbar__items--right .navbar__link:last-of-type {
  margin-right: 1rem;
  padding-right: 1rem;

  border-right: 1px solid var(--ifm-color-emphasis-300);
}

.navbar .navbar__toggle {
  margin-right: 1rem;
}

.react-toggle-track {
  background-color: white;
}

/* 
 * Search
 */

::placeholder {
  color: var(--ifm-navbar-search-input-color);
  opacity: 1;
}

@media (max-width: 500px) {
  .navbar .navbar__search {
    padding-left: 0;
  }

  .search-icon {
    padding: 4px 16px !important;
    
    background: white;
    border-radius: 2px;
  }
}

.navbar .navbar__search .navbar__search-input {
  border-radius: var(--ifm-global-radius);
}

/* 
 * Sidebar
 */

div[class^='docSidebarContainer'] {
  flex-shrink: 0;
  width: 350px;
  top: 0;

  background: linear-gradient(90deg, #f2f0f0, white);
}

html[data-theme='dark'] div[class^='docSidebarContainer'] {
  background: linear-gradient(90deg, #13172d, #191927);
}

@media (max-width: 1300px) {
  div[class^='docSidebarContainer'] {
    width: 300px;
  }
}

@media (min-width: 997px) {
  div[class^='sidebar']:not([class^='sidebarLogo']) {
    padding-top: calc(var(--ifm-navbar-height) + 3rem);
  }
}

div[class^='sidebarLogo'] {
  display: none !important;
}

.menu .menu__link {
  color: var(--ifm-font-color-base);
  font-size: 1rem;
  font-weight: var(--ifm-font-weight-normal);
}

html[data-theme='dark'] .menu .menu__link.menu__link--active:not(.menu__link--sublist) {
  background: #191927;
}

@media (max-width: 996px) {
  .navbar-sidebar__items .menu .menu__link {
    color: white;
  }  
}

/**
 * Footer 
 */

.footer {
  padding-top: 4rem;
  border-top: 1px solid var(--ifm-contents-border-color);
}

.footer.footer--dark {
  --ifm-footer-background-color: var(--ifm-background-color);
  --ifm-footer-title-color: var(--ifm-font-color-base);
  /* --ifm-footer-link-color: var(--ifm-color-gray-300); */
}

.footer .footer__links {
  margin-bottom: 3rem;
}

/**
 * Links
*/

a {
  font-weight: var(--ifm-font-weight-semibold);
  transition: ease-in-out all 0.15s;
}

a:hover {
  color: var(--ifm-color-secondary);
}

html[data-theme='dark'] a {
  color: var(--ifm-color-primary-lightest);
}

html[data-theme='dark'] a:hover {
  color: var(--ifm-color-accent);
}

/**
 * Pagination
 */

.pagination-nav {
  margin-top: 6rem;
}

/* Buttons */
.button {
  border: 2px solid var(--ifm-color-primary);
  font-weight: 500;
}

.button:hover {
  border: 2px solid var(--ifm-color-primary-lightest);
}

.button:active {
  background: var(--ifm-color-primary-lightest);
}

.button.button--secondary {
  border: 1px solid transparent;
  box-shadow: 0 0 0 1px var(--ifm-color-primary);
  background: white;
  color: var(--ifm-color-primary);
}

.button.button--secondary:hover {
  box-shadow: 0 0 0 1px var(--ifm-color-primary-lightest);
  color: var(--ifm-color-primary-lightest);
}

.button.button.button--secondary:active {
  background: var(--ifm-color-primary-lightest);
  color: white;
  border-color: transparent;
}

html[data-theme='dark'] .button {
  color: white;
}

html[data-theme='dark'] .button:hover {
  color: white;
}

html[data-theme='dark'] .button.button--secondary {
  color: white;
  background: var(--ifm-color-gray-800);
}

html[data-theme='dark'] .button.button--secondary:hover {
  color: var(--ifm-color-primary-lightest);
}

/**
 * Code highlighting
 */

div[class^='mdxCodeBlock'] button,
pre[class*='codeBlock'] button {
  color: var(--ifm-color-primary-lightest);
  border: 1px solid var(--ifm-color-primary-lightest);
}

div[class^='mdxCodeBlock'] button:hover,
pre[class*='codeBlock'] button:hover {
  color: white;
  border: 1px solid white;
}

.prism-code {
  border-radius: var(--ifm-global-radius);
}

pre.prism-code code {
  padding: var(--ifm-pre-padding);
}

html[data-theme='dark'] code {
  background: rgb(42, 39, 52);
}

.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

/**
 * Markdown-only 
*/

.markdown {
  font-size: 18px;
  --ifm-heading-vertical-rhythm-bottom: 1;
}

.markdown img {
  border-radius: var(--ifm-global-radius);
  box-shadow: var(--ifm-global-shadow-md);
}

.hash-link {
  margin-left: -1.75rem;
  padding-right: 1.75rem;
  font-size: 1.4rem;
  margin-top: 0.35rem;
}