.StartBox {
  position: relative;
  display: block;
  padding: 2rem;
  margin-top: calc(2 * var(--ifm-paragraph-margin-bottom));
  background: linear-gradient(90deg, white, #f8f7fd);
  border: 1px solid var(--ifm-contents-border-color);
  border-radius: 2px;
  transition: ease-in-out all 0.15s;
  backface-visibility: hidden;
  overflow: hidden;

  @media (max-width: 996px) {
    grid-column-end: span 4;
  }

  &:hover {
    border-color: var(--ifm-color-primary-lightest);
    text-decoration: none;
    transform: scale(1.02);
    transition: ease-in-out all 0.15s;

    h2 {
      color: var(--ifm-color-secondary);
    }

    h3 {
      color: var(--ifm-color-primary-lightest);
    }

    p {
      color: var(--ifm-font-color-base);
    }

    .StartCTA {
      background: var(--ifm-color-primary-lightest);
    }
  }

  h2 {
    color: var(--ifm-color--primary);
    font-size: 1.8rem;
    transition: ease-in-out all 0.15s;
  }
  
  p {
    // margin-bottom: 0;
    color: var(--ifm-font-color-base);
    font-weight: 400;
  }

  svg {
    opacity: 0;
  }

  @media (max-width: 700px) {
    h2 {
      font-size: 1.2rem;
    }

    p {
      font-size: 90%;
    }
  }
}

.StartCTA {
  z-index: 2;
  position: relative;
}

.StartBoxImg {
  svg {
    opacity: 0.2;
    position: absolute;
    left: 0;
    bottom: -40px;
    width: 820px;
    z-index: 0;
  }
}

html[data-theme='dark'] .StartBox {
  background: linear-gradient(90deg, #13172d, #191927);
}