.StartBox {
  position: relative;
  display: block;
  padding: 2rem;
  margin-top: calc(2 * var(--ifm-paragraph-margin-bottom));
  background: linear-gradient(90deg, white, #f8f7fd);
  border: 1px solid var(--ifm-contents-border-color);
  border-radius: 2px;
  transition: ease-in-out all 0.15s;
  backface-visibility: hidden;
  overflow: hidden;

  @media (max-width: 996px) {
    grid-column-end: span 4;
  }

  &:hover {
    border-color: var(--ifm-color-primary-lightest);
    text-decoration: none;
    transform: scale(1.02);
    transition: ease-in-out all 0.15s;

    h2 {
      color: var(--ifm-color-secondary);
    }

    h3 {
      color: var(--ifm-color-primary-lightest);
    }

    p {
      color: var(--ifm-font-color-base);
    }

    .StartCTA {
      color: var(--ifm-color-secondary);

      &:after {
        right: -28px;
        opacity: 1;
        color: var(--ifm-color-secondary);
      }
    }
  }

  h2 {
    color: var(--ifm-color--primary);
    font-size: 2rem;
    transition: ease-in-out all 0.15s;
  }
  
  p {
    margin-bottom: 0;
    color: var(--ifm-font-color-base);
    font-weight: 400;
  }

  svg {
    opacity: 0;
  }

  @media (max-width: 700px) {
    h2 {
      font-size: 1.4rem;
    }

    p {
      font-size: 90%;
    }
  }
}

.StartCTA {
  font-size: 100%;
  display: inline-block;
  margin-top: 1rem;
  font-weight: var(--ifm-heading-font-weight);
  position: relative;

  &:after {
    display: block;
    content: '\2192';
    position: absolute;
    right: -15px;
    font-size: 170%;
    font-weight: 500;
    line-height: 1;
    top: -2px;
    opacity: 0;
    transition: 0.3s all ease-in;
  }
}

.StartBoxImg {
  padding: 2rem 2rem 5rem 2rem;

  svg {
    opacity: 1;
    position: absolute;
    left: 0;
    bottom: -40px;
    width: 820px;
  }
}

html[data-theme='dark'] .StartBox {
  background: linear-gradient(90deg, #13172d, #191927);
}