name: Ingest
on:
  workflow_dispatch:
  schedule:
     - cron: '0 14 * * *'

jobs:
  ingest:
    runs-on: ubuntu-latest
    steps:
    - name: Access Token
      uses: actions/checkout@v3
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        fetch-depth: 0

    - name: Init python env
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'
    
    - name: Setup python env
      run: |
        pip install -r .learn_environment/ingest-requirements.txt
      
    - name: Ingest process
      run: |
        python ingest/ingest.py --repos netdata/netdata:rework-learn netdata/go.d.plugin:rework-learn tkatsoulas/agent-service-discovery:rework-learn

    #- name: Update kickstart checksum
    #  run: |
    #    docfile="versioned_docs/version-1.37/agent/packaging/installer/methods/kickstart.md"
    #    wget -O /tmp/kickstart.sh https://raw.githubusercontent.com/netdata/netdata/master/packaging/installer/kickstart.sh || exit 1
    #    checksum="$(md5sum /tmp/kickstart.sh | cut -d ' ' -f 1)"
    #    sed -e "s/^\[ \".*\" = \"\(.*\)$/[ \"${checksum}\" = \"\1/" "${docfile}" > tmp || exit 1
    #    mv tmp "${docfile}" || exit 1

    - name: Verify
      run: ls -la versioned_docs/version-nightly

#    - name: Create pull request
#      uses: peter-evans/create-pull-request@v3
#      with:
#        token: ${{ secrets.GITHUB_TOKEN }}
#        commit-message: Ingest new documentation
#        title: 'Ingest New Documentation'
#        body: |
#          - Ingest new documentation
#
#          Auto-generated by [create-pull-request][1]
#
#          [1]: https://github.com/peter-evans/create-pull-request:
#        branch: ingest
#        labels: ingest, automation
        # reviewers:
