name: Ingest
on:
  workflow_dispatch:
  schedule:
    - cron: "10 8-23/3 * * *" # every 3rd hour from 8 through 23
  push:
    branches:
      - master
    paths:
      - plugins/**
      - src/**
      - static/**
      - sidebar.js
      - package.json
      - yarn.lock
      - tailwind.config.js
jobs:
  ingest:
    runs-on: ubuntu-latest
    steps:
      - name: Access Token
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          fetch-depth: 0

      - name: github authentication
        uses: webfactory/ssh-agent@v0.9.1
        with:
          ssh-private-key: ${{ secrets.NETDATABOT_SSH_PRIVATE_KEY }}

      - name: Init python env
        uses: actions/setup-python@v4
        with:
          python-version: "3.9"

      - name: Setup python env
        run: |
          pip install -r .learn_environment/ingest-requirements.txt

      - name: Ingest process
        run: |
          python ingest/ingest.py
      
      - name: Make integrations grids
        run: |
          python ingest/create_grid_integration_pages.py

      - name: Update kickstart checksum
        run: |
          docfile="docs/netdata-agent/installation/linux/linux.mdx"
          wget -O /tmp/kickstart.sh https://raw.githubusercontent.com/netdata/netdata/master/packaging/installer/kickstart.sh || exit 1
          checksum="$(md5sum /tmp/kickstart.sh | cut -d ' ' -f 1)"
          sed -e "s/@KICKSTART_CHECKSUM@/${checksum}/" "${docfile}" > tmp || exit 1
          mv tmp "${docfile}" || exit 1

      - name: Create pull request
        uses: peter-evans/create-pull-request@v6.0.1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          commit-message: Ingest new documentation
          title: "Ingest New Documentation"
          body: |
            - Ingest new documentation

            Auto-generated by [create-pull-request][1]

            [1]: https://github.com/peter-evans/create-pull-request:
          branch: ingest
          labels: ingest, automation
        # reviewers:
